@model StudioReservation.BackOffice.Models.CreateTimeSlotRequest
@{
    ViewBag.Title = "Create New Timeslot";
}
<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
@Styles.Render("~/bundles/datepicker_CSS")
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <br />
    @using (Html.BeginForm("Create", "TimeSlot", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id ="DisabledDate" value="@ViewBag.DisabledDate"/>
        <div class="row">
            @Html.LabelFor(m => m.RoomId, new { @class = "col-md-8 col-form-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.RoomId, ViewBag.RoomId as SelectList, "--Select Room--", new { @class = "form-control", id = "RoomId", name = "RoomId" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.Dates, new { @class = "col-md-8 col-form-label" })
            <div class="col-md-8">
                <div class="input-group date">
                    <input type="text" class="form-control" id="Dates" name="Dates" value="@Model.Dates">
                    <span class="input-group-append">
                        <span class="input-group-text bg-white d-block">
                            <i class="fa-regular fa-calendar-days"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.Enable, new { @class = "col-md-8 col-form-label" })
            <div class="col-md-8" style="margin-top:8px;">
                <input type="radio" name="radiobutton" class="rd" value="true" />Yes
                <input type="radio" name="radiobutton" class="rd" value="false" />No
                @Html.HiddenFor(m => m.Enable)
            </div>
        </div>

        <div class="row">
            @Html.Label("Times", new { @class = "col-md-8 col-form-label" })
            <div class="col-md-8">
                @Html.ListBoxFor(m => m.Times, ViewBag.Timeslots as MultiSelectList, new { id = "Times", multiple = "multiple" })
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="offset-md-3 col-md-9">
                <input type="submit" value="Create" class="btn btn-primary" id="submitBtn"/>
            </div>
        </div>
    }
</main>

@section scripts
{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/init.js"></script>
    @Scripts.Render("~/bundles/datepicker")
<script type="text/javascript">
        $(document).ready(function () {

            if ($('#RoomId').val() == '') {
                $('#Dates').prop('disabled', true);
                $('.rd').prop('disabled', true);
                $('#Times').prop('disabled', true);
                $('#submitBtn').prop('disabled', true);
            };
            let disabledDate = $('#DisabledDate').val().split(',');
            $('.input-group').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                todayBtn: "linked",
                multidate: true,
                orientation: "bottom left",
                datesDisabled: disabledDate
            });

            $("#Times").chosen({ width: "50%" });

            $('.rd').click(function () {
                document.getElementById("Enable").value = $('input[name ="radiobutton"]:checked').val();
                //alert(document.getElementById("Enable").value);
            });

            $('#RoomId').change(function () {
                window.location.href = '@Html.Raw(@Url.Action("CreateGet", "TimeSlot"))' + '?roomId=' + this.value;
            });
        });
</script>
}
