@model StudioReservation.DataModel.ViewAllTimeSlot
@{
    ViewBag.Title = "Time Slot Management";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <input type="button" class="btn btn-primary" value="Create New" onclick="CreateNew()"/>
    <br />
    <div class="row table-responsive">
        <table class="table table-bordered" id="TimeslotView">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Date</th>
                    <th scope="col">Registered slots</th>
                    <th scope="col">Booked slots</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TimeSlots)
                {
                    <tr>
                        <td>@item.RoomId</td>
                        <td>@item.Date</td>
                        <td>
                            @foreach (var j in item.AvailableTime)
                            {
                                @j <span>;</span>
                            }
                        </td>
                        <td>
                            @foreach (var k in item.BookedTime)
                            {
                                @k <span>;</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            @if (item.AbleToDelete)
                            {
                             <span>|</span> @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>



</main>
@section scripts
{
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script type="text/javascript">
        function CreateNew() {
            window.location.href = '@Html.Raw(@Url.Action("CreateGet", "TimeSlot"))';
        }
        $(document).ready(function () {
            $('#TimeslotView').DataTable({
                order: [[0, 'asc']]
            });
        });

    </script>
}

