@model StudioMember.DataModel.MembersViewModel
@{
    ViewBag.Title = "Member Management";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 22.66px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 1px;
            bottom: 3.5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>




<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <input type="button" class="btn btn-primary" value="Create New" onclick="CreateNew()" />
    <br />
    <div class="row table-responsive">
        <table class="table table-bordered" id="MembersView">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Members)
                {
                    //item.isDisable = true;
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName </td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Role</td>
                        <td>
                            @Html.ActionLink("Edit", "EditGet", new { memberId = item.Id }, new { style = "text-decoration:none;" })

                            <span>|</span>
                            @*<btn id="@item.Id" style="color:#0d6efd" onclick="PopConfirm(this)">Remove</btn>*@
                            @if (item.isDisable)
                            {
                                <label class="switch">
                                    <input type="checkbox" id="@item.Id" name="isDisable" onclick="PopConfirm(this)">
                                    <span class="slider round"></span>
                                </label>
                            }
                            else
                            {
                                <label class="switch">
                                    <input type="checkbox" checked id="@item.Id" name="isDisable" onclick="PopConfirm(this)">
                                    <span class="slider round"></span>
                                </label>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</main>
<!-- staticBackdrop -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmation <i class="fa-solid fa-exclamation"></i></h5>
            </div>
            <div class="modal-body">
                Do you confirm to <span id="enableModifier"></span> this record? ID:<input type="Text" id="memberIdToModify" style="width:350px;" disabled />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="RetoreValue()">No</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmDisable()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal1 -->
<div class="modal" tabindex="-1" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert <i class="fa-solid fa-exclamation"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="ajaxResponse"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script type="text/javascript">
        function RetoreValue() {
            var ele = document.getElementById($('#memberIdToModify').val());
            if (ele.checked)
                ele.checked = false;
            else
                ele.checked = true;
        }

        function ConfirmDisable() {
            $.get("/Member/UpdateMemberStatus", { memberId: $("#memberIdToModify").val(), disable: !document.getElementById($('#memberIdToModify').val()).checked },
                    function (data) {
                        console.log(data);
                        $('#staticBackdrop').modal("hide");
                        $('#ajaxResponse').text(data);
                        $('#modal1').modal("show");

                    //var select = $("#typeList");
                    //select.empty();
                    //select.append("<option value>--Select Type--</option>");
                    //select.append($('<option/>', {
                    //    value: 0,
                    //    text: "--Select Type--"
                    //}));
                    //$.each(data, function (index, itemData) {
                    //    select.append($('<option/>', {
                    //        value: itemData.Value,
                    //        text: itemData.Text
                    //    }));
                    //});
                    //select.removeAttr("disabled");

                });

            //window.location.href = '@Html.Raw(@Url.Action("ConfirmDelete", "Member"))' + "?memberId=" + $('#memberIdToRemove').val();
        }

        function CreateNew() {
            window.location.href = '@Html.Raw(@Url.Action("CreateGet", "Member"))';
        }

        function PopConfirm(e) {

            if (e.checked) {
                $('#enableModifier').text("enable")
            }
            else {
                $('#enableModifier').text("disable")
            }
            $('#memberIdToModify').val(e.id);
            $('#staticBackdrop').modal("show");
        }

        $(document).ready(function () {
            $('#MembersView').DataTable({
                order: [[1, 'asc']]
            });
        });

    </script>
}

